<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="wrapper">
<div class="container">
<h2>Login</h2>

{% for msg in get_flashed_messages() %}
<p class="msg">{{ msg }}</p>
{% endfor %}

<form method="post">
<input type="text" name="username" placeholder="Username" required>

<input type="password" id="password" name="password" placeholder="Password" required>

<input type="checkbox" onclick="togglePassword()"> Show Password

<button type="submit">Login</button>
</form>

<a href="/">Back</a>
</div>
</div>

<script>
function togglePassword() {
 let p = document.getElementById("password");
 p.type = p.type === "password" ? "text" : "password";
}
</script>

</body>
</html>